.idea/*
*/.idea/*
.venv/*
systemfalcon/*/migrations/*
systemfalcon/*/*.pyc
systemfalcon/*/*/*.pyc
systemfalcon/sysconf/templates/sysconf/*.xml
systemfalcon/sysconf/templates/sysconf/ce_shi.html
systemfalcon/sysconf/log/*
systemfalcon/top10/log/*
systemfalcon/top10/scrpits/__pycache__/*
systemfalcon/templates/codebak/*
*/*.pyc
log/*
systemfalcon/static/top10/*
systemfalcon/static/alarm/*
Graph_chart/live
Graph_chart/live_max_min
Graph_chart/log.log
Graph_chart/media
Graph_chart/media_max_min
Graph_chart/net_live
Graph_chart/net_live_max_min
Graph_chart/net_media
Graph_chart/net_media_max_min
Graph_chart/net_web
Graph_chart/net_web_max_min
Graph_chart/web
Graph_chart/web_max_min
Graph_chart/web__max_min
Graph_chart/networksource
Graph_chart/source
Graph_chart/source_dest
monitor/alarm
monitor/alarm_id
monitor/cluster
monitor/datetime
monitor/hosts
monitor/json
monitor/json_alarm
monitor/json_class
monitor/monitor_info
monitor/monitor.log
monitor/oms
monitor/temp
systemfalcon/systemconfig/tmp
business/*
