
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/public/css/R.css">
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/public/plugin/bootstrap-3.3.7/css/bootstrap.css">

    <title>监控系统</title>
</head>
<body>
<div class="Content">
    <div class="dashboardItemContent">
        <table class="table table-hover">
            <thead>
                <th>TOP</th>
                <th>机房名称</th>
                <th>总带宽(Mbps)</th>
                <th>当前使用带宽(Mbps)</th>
                <th>使用率</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td><td><a href="/monitor/MonitorInfo/ServerRoom/Detail/" target="_blank">北京联通木樨园机房</a></td>
                    <td> {{ 12000 }} </td><td> {{ 8012  }} </td><td> 66.77%  </td>
                </tr>
                <tr>
                    <td>2</td><td><a href="/monitor/MonitorInfo/ServerRoom/Detail/" target="_blank">浙江电信杭州萧山回澜路机房</a></td>
                    <td> {{ 22000 }} </td><td> {{ 13708  }} </td><td> 62.31%  </td>
                </tr>
                <tr>
                    <td>3</td><td><a href="/monitor/MonitorInfo/ServerRoom/Detail/" target="_blank">河北联通石家庄二枢纽机房</a></td>
                    <td> {{ 11000 }} </td><td> {{ 6624  }} </td><td> 60.22%  </td>
                </tr>
                <tr>
                    <td>4</td><td><a href="/monitor/MonitorInfo/ServerRoom/Detail/" target="_blank">山东联通东营市机房</a></td>
                    <td> {{ 23000 }} </td><td> {{ 13434  }} </td><td> 58.41%  </td>
                </tr>
                <tr>
                    <td>5</td><td><a href="/monitor/MonitorInfo/ServerRoom/Detail/" target="_blank">吉林电信长春市枢纽机房</a></td>
                    <td> {{ 18000 }} </td><td> {{ 9851  }} </td><td> 54.73%  </td>
                </tr>
                <tr>
                    <td>6</td><td><a href="/monitor/MonitorInfo/ServerRoom/Detail/" target="_blank">四川电信宜宾IDC机房</a></td>
                    <td> {{ 15000 }} </td><td> {{ 8149  }} </td><td> 54.33%  </td>
                </tr>
                <tr>
                    <td>7</td><td><a href="/monitor/MonitorInfo/ServerRoom/Detail/" target="_blank">山西电信太原市机房</a></td>
                    <td> {{ 12000 }} </td><td> {{ 6416  }} </td><td> 53.47%  </td>
                </tr>
                <tr>
                    <td>8</td><td><a href="/monitor/MonitorInfo/ServerRoom/Detail/" target="_blank">河北电信唐山机房</a></td>
                    <td> {{ 11000 }} </td><td> {{ 5578  }} </td><td> 50.71%  </td>
                </tr>
                <tr>
                    <td>9</td><td><a href="/monitor/MonitorInfo/ServerRoom/Detail/" target="_blank">浙江省舟山市电信城东IDC机房</a></td>
                    <td> {{ 17000 }} </td><td> {{ 8435  }} </td><td> 49.62%  </td>
                </tr>
                <tr>
                    <td>10</td><td><a href="/monitor/MonitorInfo/ServerRoom/Detail/" target="_blank">湖北联通荆州机房</a></td>
                    <td> {{ 12000 }} </td><td> {{ 5811  }} </td><td> 48.43%  </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
