<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CDN监控系统</title>
    <link rel="stylesheet" href="/static/public/css/R.css">
    <link rel="stylesheet" type="text/css" href="/static/public/plugin/bootstrap-3.3.7/css/bootstrap.min.css" />
    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <!-- you need to include the shieldui css and js assets in order for the charts to work -->

    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/js/underscore.js"></script>
    <script src="/static/Hchartscode/highcharts.js"></script>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
