{% extends "view/Base2.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">

	<div class="dashboardItemContent" style="position: relative;">
	    <div class="row" style="padding:20px">
            <div class="col-xs-6">
                <a  class="btn btn-success" onclick=show('live')>直播</a>
                <a  class="btn btn-success" onclick=show('media')>LDC</a>
                <a  class="btn btn-success" onclick=show('web')>页面</a>
            </div>
            <div class="col-xs-6">
	        <span class="rmr10" style="float: left;padding-top: 5px;">区域:</span>
                <select name="" id="" value="1" style="width: 120px;height: 30px;"><option value="1">北京</option></select>
            </div>
		<div class="row" style="padding:10px">
		</div>
		
            <div  style="width: auto;height: auto;">
                <iframe id="live" src="/monitor/hcgraph/index/chart/live_net/" width="100%" height="430px" scrolling="no" frameborder="0" > </iframe>
            </div>
            <div  style="width: auto;height: auto;">
                <iframe id="media" src="/monitor/hcgraph/index/chart/media_net/ "  width="100%" height="430px" scrolling="no" frameborder="0" style="display: none" > </iframe>
            </div>
            <div style="width: auto;height: auto; ">
                <iframe id="web" src="/monitor/hcgraph/index/chart/web_net/" width="100%" height="430px" scrolling="no" frameborder="0" style="display: none" > </iframe>
            </div>
                <script type="text/javascript" >
                    function show(id){
                    var showDiv=document.getElementById(id);
                    var divList=document.getElementsByTagName('iframe');
                    //alert(divList.length);
                    for(i=0;i<divList.length;i++){
                    if(divList[i].id==id){
                    divList[i].style.display='block';
                    }
                    else{
                    divList[i].style.display='none';
                    }
                    }
                    }
                </script>

		<div class="row rmt15" style="position:absolute;top:10%;left:76%;border-radius:5px;width:20%;margin: 15px auto;background: #1177B7; color: #fff;padding: 10px 0;">
		  <ul style="padding-bottom: 0;">
			  <li  class="rmt15">延迟:<span>3s</span></li>
			  <li  class="rmt15">下行:<span>xx</span></li>
			  <li  class="rmt15">上行:<span>xx</span></li>
		  </ul>
		</div>
               </div>
              </div>
        </div>

    </div>
{% endblock %}


