{% extends "view/Base3.html" %}
{% block content %}
<script src="/static/js/echarts-all-3.js"></script>
<script src="/static/js/china.js"></script>
<script src="/static/public/plugin/Chosen/chosen.jquery.min.js"></script>
<ul  class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/monitor/Dashboard/">dashboard</a></li>
    <li role="presentation"><a href="/monitor/MonitorInfo/">监控信息</a></li>
    <li role="presentation"><a href="/monitor/MonitorManage/">系统配置</a></li>
    <li role="presentation"><a href="/monitor/sysconf/user_manage/">用户管理</a></li>
    <!--<li role="presentation"><a href="#">资源管理</a></li>
    <li role="presentation"><a href="#">变更管理</a></li>
    <li role="presentation"><a href="/monitor/sysconf/user_manage/">用户管理</a></li>
    <li role="presentation"><a href="#">安全检测</a></li>
    <li role="presentation"><a href="#">FAQ</a></li>-->
</ul>
<div class="Content">
    <div class="row">
        <div id="Dm" class="col-xs-6" >
            <div class="dashboardItem">
                <div class="dashboardItemTitle">
                    <span>机房运行状态</span>
                    <a target="_blank" href="/monitor/MonitorInfo/Map/" class="pull-right rmr15" >地图放大</a>
                </div>
                <div class="dashboardItemContent">
                    <div id="map-charts" style="background: width: auto;;height:510px;padding-left:10px;"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="dashboardItem">
                <div class="dashboardItemTitle">
                    <span>服务请求数</span>
                </div>
                <div class="dashboardItemContent">
                    <div style="height: auto;width: auto;">
                        <iframe src="/monitor/hcgraph/index/chart/service/ "  width="100%" height="500px" scrolling="no" frameborder="0" > </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row rmt20">
        <div class="col-xs-6">
            <div class="dashboardItem">
                <div class="dashboardItemTitle">
                    <span>机房带宽使用情况</span>
                </div>
                <div style="width:auto;height:auto;">
                    <iframe  src="/monitor/top10/idc_top10" width="100%" height="420px" scrolling="no" frameborder="0"></iframe>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="dashboardItem">
                <div class="dashboardItemTitle">
                    <span>拓扑网络质量</span>
                </div>
                <div class="dashboardItemContent" style="position: relative;">
                    <div style="height: auto;width: auto;">
                        <iframe src="/monitor/echart/"  width="100%" height="500px" scrolling="no" frameborder="0" > </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dashboard_event" style="display:none;" class="row rmt20">
                    <div class="col-xs-12">
                        <div class="dashboardItem">
                            <div class="dashboardItemTitle">
                                <span>故障列表</span>
                                <a href="/monitor/MonitorInfo/TroubleList/" target="_blank"  class="pull-right">显示详情</a>
                            </div>
                            <div class="dashboardItemContent">
                                <table class="table table-hover">
                                    <thead>

				                    <th></th>
                                    <th>ID</th>
                                    <th>故障类型</th>
                                    <th>故障对象</th>
                                    <th>故障描述</th>
                                    <th>故障时间</th>
                                    <th>当前状态</th>
                                    <th>操作</th>
                                    </thead>
                                   <tbody>
                                   {% for alarm in device_event %}
                                       <tr>
                                        <td><input type="checkbox" alarm="{{ alarm.event_id }}"></td>
                                        <td>{{ forloop.counter }}</td>
                                        <td title="机房：{{ alarm.room }}&nbsp;&nbsp;IP:{{ alarm.ip }}">设备类</td>
                                        <td title="机房：{{ alarm.room }}&nbsp;&nbsp;IP:{{ alarm.ip }}">
                                            <a href="/monitor/MonitorInfo/Device/{{ alarm.hostname }}" target="_blank">
                                                {{ alarm.hostname }}</a></td>
                                        <td title="机房：{{ alarm.room }}&nbsp;&nbsp;IP:{{ alarm.ip }}"><a href="/monitor/MonitorInfo/TroubleInfo/?hostname={{ alarm.hostname }}&aralm={{ alarm.aralm|urlencode }}" target='_blank'>{{ alarm.aralm }}</a></td>
                                        <td>{{ alarm.date }}</td>
                                        <td>未处理</td>
                                        <td><a class="btn btn-default" href="javascript:solve('{{ alarm.event_id }}');" >已知</a></td>
                                       </tr>
                                   {% endfor %}
                                   {% for alarm in app_event %}
                                       <tr>
                                        <td><input type="checkbox" alarm="{{ alarm.event_id }}"></td>
                                        <td>{{ forloop.counter }}</td>
                                        <td title="机房：{{ alarm.room }}&nbsp;&nbsp;IP:{{ alarm.ip }}">服务类</td>
                                        <td title="机房：{{ alarm.room }}&nbsp;&nbsp;IP:{{ alarm.ip }}">
                                            <a href="/monitor/MonitorInfo/Device/{{ alarm.hostname }}" target="_blank">
                                                {{ alarm.hostname }}</a></td>

                                        <td title="机房：{{ alarm.room }}&nbsp;&nbsp;IP:{{ alarm.ip }}"><a href="/monitor/MonitorInfo/TroubleInfo/?hostname={{ alarm.hostname }}&aralm={{ alarm.aralm|urlencode }}" target='_blank'>{{ alarm.aralm }}</a></td>
                                        <td>{{ alarm.date }}</td>
                                        <td>未处理</td>
                                        <td><a class="btn btn-default" href="javascript:solve('{{ alarm.event_id }}');" >已知</a></td>
                                       </tr>
                                   {% endfor %}
                                   {% for alarm in network_event %}
                                       <tr>
                                        <td><input type="checkbox" alarm="{{ alarm.event_id }}"></td>
                                        <td>{{ forloop.counter }}</td>
                                        <td title="机房：{{ alarm.room }}&nbsp;&nbsp;IP:{{ alarm.ip }}">网络类</td>
                                        <td title="机房：{{ alarm.room }}&nbsp;&nbsp;IP:{{ alarm.ip }}">
                                            <a href="/monitor/MonitorInfo/Device/{{ alarm.hostname }}" target="_blank">
                                                {{ alarm.hostname }}</a></td>

                                        <td title="机房：{{ alarm.room }}&nbsp;&nbsp;IP:{{ alarm.ip }}">
                                            <a href="/monitor/MonitorInfo/TroubleInfo/?hostname={{ alarm.hostname }}&aralm={{ alarm.aralm|urlencode }}"
                                               target='_blank'>{{ alarm.aralm }}</a>
                                        </td>
                                        <td title="机房：{{ alarm.room }}&nbsp;&nbsp;IP:{{ alarm.ip }}"><a href="/monitor/MonitorInfo/TroubleInfo/?hostname={{ alarm.hostname }}&aralm={{ alarm.aralm|urlencode }}" target='_blank'>{{ alarm.aralm }}</a></td>
                                        <td>{{ alarm.date }}</td>
                                        <td>未处理</td>
                                        <td><a class="btn btn-default" href="javascript:solve('{{ alarm.event_id }}');">已知</a></td>
                                       </tr>
                                   {% endfor %}
                                   </tbody>
                                </table>
				                <div style="padding-top:5px;">
                                    <a  class="btn btn-default" href="javascript:all_select();">全选</a><a class="btn btn-default" href="javascript:reverse_select();">反选</a>&nbsp;
                                    <button class="btn btn-warning btn-sm" onclick="batch_solve();">标记选中部分为已解决</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    <div class="row rmt20">
        <div class="col-xs-12">
            <div class="dashboardItem">
                <div class="dashboardItemTitle">
                    <span>性能TOP10</span>
                </div>
                <div style="width:auto;height:auto;">
                    <iframe  src="/monitor/top10/" width="100%" height="500px" scrolling="no" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        if({{ dashboard_event|safe }}){
            $("#dashboard_event").attr("style",'display:block');
        }
        if({{ Dm|safe }}){
            $("#Dm").attr("style",'display:block');
        }
        else{
            $("#Dm").attr("style",'display:none');
        }
    });

var dom = document.getElementById("map-charts");
var myChart = echarts.init(dom);
var app = {};
var paramData={};
option = null;

var alert_data=[];

var geoCoordMap = {
	    '已下架':[102.015283,46.687934],

        '北京联通南苑机房-01':[116.477134,40.029876],
        '北京联通南苑机房-02':[116.602509,40.699286],
        '北京电信兆维BGP机房':[116.326549,39.598092],
        '广西电信南宁二枢纽机房':[108.377558,22.823695],
        '云南电信昆明经开路机房':[102.833117,24.72989],
        '福建电信厦门软件园机房':[118.191736,24.495001],
        '四川电信德阳珠江东路机房':[104.416498,31.113845],
        '江苏电信徐州新城区数据中心机房':[117.301343,34.209644],
        '浙江电信温州十分局机房':[120.740042,27.984096],
        '浙江电信杭州萧山回澜路机房（单电信线路）':[120.289562,30.169417],
        '浙江电信杭州萧山回澜路机房（单移动线路）':[120.978893,30.198593],
        '浙江电信杭州萧山回澜路机房（双线）':[120.751227,29.689864],
        '陕西电信西安世纪大道机房':[108.732198,34.32238],

        '江苏移动无锡IDC机房':[120.395508,31.717292],
        '内蒙联通呼市二枢纽机房（原）':[111.705114,40.837733],
        '新疆电信河北东路机房':[87.585243,43.882851],
        '河南联通鹤壁机房':[114.297411,35.758965],
        '辽宁省联通沈阳陵园机房':[123.45551,41.845725],
        '吉林省联通长春二枢纽机房4F':[124.903901,44.203002],
        '河北联通石家庄二枢纽机房':[114.626455,38.04667],
        '山西联通太原二枢纽机房':[111.695168,37.75393],
        '山东联通烟台开发区机房':[121.274547,37.567588],
        '湖北移动襄阳云计算中心机房':[112.207297,32.09164],
        '吉林省联通长春二枢纽机房4F（双线）':[126.556061,44.824962],
        '河南电信洛阳景安机房':[112.493619,34.693501],
        '四川电信宜宾IDC机房':[104.644117,28.766978],
        '联通云北京联通硅谷亮城机房':[115.640057,39.716234],
        '甘肃移动兰州新区西北大数据产业园':[103.649624,36.48951],
        '福建移动泉州圣湖机房':[118.650958,24.911874],
        '长春电信机房':[124.724944,43.661396],
        '重庆电信回兴IDC机房':[106.519338,29.623734],
        '山东济南移动开发区数据中心':[117.162672,37.160505],
        '':[126.556061,44.824962],
        '河南电信洛阳景安机房':[112.493619,34.693501],
        '联通云北京联通硅谷亮城机房':[115.640057,39.716234],
        '甘肃移动兰州新区西北大数据产业园':[103.649624,36.48951],
        '福建移动泉州圣湖机房':[118.650958,24.911874],
        '重庆电信回兴IDC机房':[106.519338,29.623734],
        '陕西移动西安锦业路IDC机房':[109.270677,34.307895],
        '北京长宽机房':[115.954836,40.233418],
        '辽宁省联通沈阳肇工机房':[122.629388,41.807197],
        '浙江电信杭州萧山回澜路机房（单联通线路）':[119.981644,30.399468],
        '广州移动中能机房':[113.339947,23.259075],
        '广东电信佛山南海平洲双线机房':[113.130131,23.025839],
        '上海电信春晓路机房':[121.882113,30.935864],
        '浙江电信杭州萧山回澜路机房（双线2）':[119.226008,29.630252],
        '河南联通南阳枢纽大楼机房':[112.57172,32.938049 ],
        '内蒙联通呼市二枢纽机房（新）':[111.371901,41.477587],
        '浙江电信杭州萧山回澜路机房（双线3）':[119.944685,29.671885],
        '河北移动石家庄开发区IDC机房':[114.91426,38.185416],
        '广东移动东莞科技十路机房':[114.006889,23.376978],
        '广东电信东莞东城枫桦园数据中心':[114.264451,22.93039],
        '广东电信东莞东城枫桦园数据中心（咪咕）':[112.585698,22.704401],

        '陕西电信汉中市前进中路机房':[107.031073,33.074242],
        '长春铁通机房':[123.73196,43.961383],
        '河南移动郑州西区机房':[113.634284,34.759902],
        '辽宁移动沈阳南十机房':[123.475282,41.269295],
        '浙江移动台州中心大道机房':[121.439166,28.672436],
        '江西移动南昌白水湖IDC机房（原核心机房）':[115.882397,28.755115],
        '天津联通华苑机房':[117.142958,39.08729],
        '河北联通石家庄信息中心机房':[115.675883,37.372229],
        '四川移动IDC东区201机房':[104.082295,30.668286],

        '湖南电信岳阳白石岭IDC机房':[112.608082,26.913065],
        '江苏联通徐州下淀路机房':[117.85809,34.327829],
        '福建电信福州青洲机房':[119.308792,26.092193],
        '中国联通西安数据中心（西咸新区）':[109.13339,34.573405],
        '山东联通东营市机房':[118.676675,37.441097],
        '甘肃兰州云数据中心':[103.848381,36.068946],
        '上海移动宁桥机房':[121.749008,31.268662],
        '辽宁电信鞍山机房':[122.828165,41.031934],
        '北京联通南苑机房-03':[116.881445,39.813204],
        '湖北电信荆州南门机房':[112.245834,30.340018],
        '北京联通木樨园BGP机房':[117.245464,40.254823],
        '上海电信水清路机房':[121.062442,30.949282],
        '天津电信大港数据中心':[117.474533,38.839335],
        '北京移动信息港机房':[117.1889,40.597719],
        '广东联通珠海九州大道机房':[113.571888,22.280599],
        '广东电信佛山拥翠路机房':[112.700298,23.234264],

        '河北电信石家庄市开发区机房':[114.843358,37.851479],
        '江西电信九江IDC机房':[115.987378,29.716759],
        '河北联通石家庄二枢纽机房2':[116.142427,38.269083],
        '浙江电信杭州红山机房':[120.294257,30.684365],
        '重庆两江云计算中心':[107.385863,30.073101],
        '辽宁移动沈阳沈北3号机房':[125.217447,41.578934],
        '河南移动新乡火炬园机房':[113.526208,35.513279],
        '山东省济南市中国电信天桥数据中心':[117.432506,36.468036],
        '湖北教育网武汉民族大道机房':[114.592752,30.161384],
        '安徽电信宿州机房':[116.986352,33.645849],
        '云南联通昆明海源中路IDC机房':[102.678029,25.06364],
        '辽宁电信辽阳白塔机房':[121.463403,41.446256],
        '广东电信广州人民中机房':[113.097092,23.408256],
        '吉林移动长春生产中心机房':[126.936459,43.552127],
        '吉林联通松原枢纽机房':[124.843681,45.138862],
        '四川三线成都中立机房':[103.295462,31.082499],
        '广东深圳天威联通机房':[114.087392,22.535221],
        '湖南石门广电机房':[111.386271,29.591304],
        '山东移动青岛市机房':[120.40423,36.078244],
        '河北联通廊坊市机房':[114.727882,39.258646],
        '山西电信太原市机房':[112.572646,37.799036],

        '河南电信郑州西开发区IDC机房':[113.905142,35.248558],
        '河南联通信阳机房':[114.594435,32.390735],
        '贵州电信贵阳信息园机房':[106.724578,26.590349],
        '内蒙古联通巴彦淖尔市解放街机房':[107.430506,40.743806],
        '内蒙古移动金川IDC机房':[111.506453,40.25695],
        '浙江联通舟山临城新大楼IDC机房':[122.323744,29.973511],
        '中国移动新疆云计算和大数据中心':[88.087647,43.610182],
        '淄博电信IDC高创园机房':[118.426888,36.397661],

        '杭州红山移动机房2':[120.318509,28.908973],
        '海南电信海口凤翔机房':[110.380421,19.995991],
        '江西移动南昌白水湖IDC机房':[115.923182,28.186406],
        '河北联通唐山机房':[119.073555,39.813225],
        '北京联通木樨园机房（客户测试机）':[116.22265,40.698079],

        '广东移动广州南方基地数据中心':[113.385088,22.651058],
        '内蒙电信（咪咕）':[113.202417,42.1315],
        '东莞联通松山湖机房':[114.99792,23.231919],
        '云南联通安宁2楼IDC机房':[102.397647,24.91036],
        '浙江电信温州乐清机房':[120.465445,27.438973],
        '山西联通长治市机房':[113.159897,36.223608],
        '湖南移动长沙东片区机楼IDC机房':[113.037764,28.176271],
        '四川联通自贡明珠核心机房':[104.77979,29.371595],
        '吉林联通通化云数据机房':[125.950435,42.982058],

        '温州移动杨府山IDC机房':[121.038856,28.179986],
        '江西电信吉安大桥西路机房':[115.001006,27.134037],
        '湖北联通荆州机房':[112.549258,30.879903],
        '北京工体电信机房':[116.914009,40.208128],
        '广东深圳联通机房':[114.363598,22.435105],
        '黑龙江电信哈尔滨机场路机房':[126.63402,45.73325],
        '广东佛山长宽快灵通数据中心机房':[111.890273,23.231161],
        '广州华新园BGP机房':[112.255312,24.344558],
        '安徽移动合肥金桂路IDC机房':[117.225986,31.833736],
        '安徽移动淮南机房':[116.993145,32.626883],
        '陕西电信咸阳云计算机房':[108.076752,34.828066],
        '黑龙江移动进乡基地IDC机房608':[127.842026,46.714479],
        '云南移动昆明高新IDC机房':[101.480866,24.745421],
        '江苏移动常州第三机房':[119.997055,31.970757],

        '广东电信广州沙溪机房':[115.382934,22.791547],
        '广西电信南宁二枢纽机房OTT设备组':[109.162373,22.809636],
        '广西移动南宁五象IDC机房':[106.779923,23.226876],
        '浙江联通杭州滨江路机房':[118.968104,29.271901],
        '江西电信九江IDC机房OTT设备组':[115.991388,29.729038],
        '安徽电信（咪咕）':[117.420192,32.957111],
        '黑龙江省联通七台河市IDC机房':[131.008468,45.776109],
        '江苏电信镇江电力路机房':[119.459627,32.212469],

        '广东长宽广州云计算中心机房':[111.847626,22.193777],
        '云南电信昆明经开路机房OTT设备组':[102.359674,24.387634],
        '江苏电信徐州新城区数据中心机房OTT设备组':[118.998073,34.409077],
        '山东联通东营市机房OTT设备组':[119.126125,37.151296],
        '福建电信福州青洲机房（咪咕）':[119.013026,25.488393],
        '浙江联通杭州红山机房':[119.429761,28.677344],
        '广东联通梅州邮政机房':[116.125018,24.296594],
        '吉林电信长春市枢纽机房':[124.809654,44.577749],
        '上海联通周浦二期IDC数据中心':[121.336468,30.722939],
        '四川移动德阳庐山南路机房':[102.93086,31.891899],
        '河北电信唐山机房':[119.047844,40.444408],
        '河北联通承德市开发区机房':[117.752039,40.961683],
        '陕西咸阳广电网络机房':[108.86081,35.183739],
        '云南电信昆明经开路机房OTT设备组01':[102.400277,25.839114],
        '湖南联通湘潭综合楼机房':[112.8768,27.718464],
        '联通云广东联通广州云数据中心机房':[113.761449,24.756431],
        '浙江联通湖州太湖路机房':[120.108068,30.895448],
        '天津联通宜兴阜机房':[116.680565,38.899268],
        '四川移动西区辅楼302机房':[103.344886,30.240873],
        '内蒙古电信呼市云计算内蒙古信息园':[110.936811,40.646706],
        '湖北电信随州新大楼IDC机房':[113.417087,31.699283],
        '贵州贵安市联通机房':[106.464558,26.199002],
        '湖南联通益阳IDC机房':[112.363997,28.571504],
        '江苏移动淮安承德路中心机房':[119.036395,33.628209],
        '浙江移动湖州二环西路机房':[119.643187,30.851479],
        '北京电信亦庄大族云计算中心BGP机房':[116.676826,40.32804],
        '四川联通德阳IDC机房':[104.909967,31.459527],
        '上海电信浦东新区华京路机房':[122.439108,31.212083],
        '安徽联通芜湖新区机房':[118.49073,31.323949],
	'山东省济南市天桥三线机房':[118.852973,35.964495]
};


var convertData = function (data) {
    //console.log(data);
    var res = [];
    for (var i = 0; i < data.length; i++) {
        var geoCoord = geoCoordMap[data[i].name];
        if (geoCoord) {
            res.push({
                name: data[i].name,
                value: geoCoord.concat(data[i].value)
            });
        }
    }
    return res;
};

option = {
    backgroundColor: '#ffffff',
    color: [
        'rgba(255, 255, 255, 0.8)',
        'rgba(14, 241, 242, 0.8)',
        'rgba(37, 140, 249, 0.8)'
    ],
//    title: {
//        text: '全网CDN告警实时监控图',
//        subtext: '',
//        sublink: '',
//        left: 'center',
//        textStyle: {
//            color: '#2F323E'
//        }
//    },
    tooltip : {
        trigger: 'item',
        formatter: function (params) {
            return params.name + ' : ' + params.value[2];
        }
    },
    legend: {
        orient: 'vertical',
        y: 'top',
        x:'left',
        data:['监控信息'],
        textStyle: {
            color: '#2F323E'
        },
        show: false
    },
    dataRange: {
        min : 0,
        max : 1,
        calculable : true,
        color: ['#FF6666','#FFFF33','#39C2B2']
    },
    geo: {
        map: 'china',
        label: {
            emphasis: {
                show: false
            }
        },
        silent:true,
        roam: true,
        itemStyle: {
            normal: {
                areaColor: '#2F323E',
                borderColor: 'rgba(255,255,255,1)'
            },
            emphasis: {
                areaColor: '#2F323E'
            }
        }
    },
     toolbox: {
        show : true,
        orient : 'vertical',
        x: 'right',
        y: 'center',
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },

    series : [
        {
            name: '监控信息',
            borderColor:'rgba(100,149,237,1)',
            type: 'scatter',
            coordinateSystem: 'geo',
            data: [],
 //           label: {
 //               normal: {
 //                   formatter: '{b}',
 //                   position: 'right',
 //                   show: false
 //               },
 //               emphasis: {
 //                   show: false
 //               }
 //           },
            itemStyle: {
                normal: {
                    color: '#39C2B2'
                }
            }
        },
        {
            name: '告警',
            type: 'effectScatter',
            coordinateSystem: 'geo',
            data: [],
            hoverAnimation: true,
 //           label: {
 //               normal: {
 //                   formatter: '{b}',
 //                   position: 'right',
 //                   show: false
 //               },
 //               emphasis: {
 //                   show: true
 //               }
 //           },
            itemStyle: {
                normal: {
                    color: '#f4e925',
                    shadowBlur: 30,
                    shadowColor: '#333'
                }
            },
            zlevel: 10
        }
    ]
};

myChart.setOption(option);

$(function() {
    $.ajax({
        type: "GET",
        async: true,
        url: "/static/alarm/result_alarm",
        dataType: "json",
        data: {rnd: Math.random()},
        success: function (data) {
            for (var i = 0; i < data.length; i++) {
                alert_data.push({name: data[i].name, value: data[i].value});
            }
            myChart.setOption({
                series: [
                    {
                        name: '监控信息',
                        borderColor: 'rgba(100,149,237,1)',
                        type: 'scatter',
                        coordinateSystem: 'geo',
                        data: convertData(alert_data),
                        label: {
                            normal: {
                                formatter: '{b}',
                                position: 'right',
                                show: false
                            },
                            emphasis: {
                                show: true
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: '#ddb926'
                            }
                        }
                    },
                    {
                        name: '告警',
                        type: 'effectScatter',
                        coordinateSystem: 'geo',
                        data: convertData(alert_data.sort(function (a, b) {
                            return b.value - a.value;
                        })),
                        symbolSize: function (val) {
                            return val[2];
                        },
                        hoverAnimation: true,
                        label: {
                            normal: {
                                formatter: '{b}',
                                position: 'right',
                                show: false
                            },
                            emphasis: {
                                show: true
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: '#f4e925',
                                shadowBlur: 20,
                                shadowColor: '#333'
                            }
                        },
                        zlevel: 100
                    }
                ]
            });
        }
    });
});


        function event(param) {
            window.open("/monitor/MonitorInfo/ServerRoom/Detail/"+ (param.name).toString() + '/')
        }
                //bind event
        myChart.on('click', event);

//callback function
</script>

<script language="JavaScript">
    function myrefresh(){
       window.location.reload();
    }
    setTimeout('myrefresh()',90000); //指定60秒刷新一次
</script>


{% endblock %}
