{% extends "view/Base4.html" %}
{% block content %}
<div  style="margin-left: 205px;background: #fff;border:1px solid #f1f1f1;padding:0 10px 30px 10px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="dashboardItem">
                <div class="dashboardItemTitle">
                    <span>采集参数管理</span>
                </div>
                <div class="dashboardItemContent chosenSelect">
                    <div class="col-xs-6 rmt15 text-center">
                        <textarea disabled class="text-info" style="height: 300px;width: 768px;"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row rmt20">
        <div class="col-xs-12">
            <div class="dashboardItem">
                <div class="dashboardItemTitle">
                    <span>采集工具管理</span>
                </div>
                <div class="dashboardItemContent chosenSelect">
                    <div class="col-xs-6 rmt15 text-center">
                    <textarea disabled class="text-info" style="height: 300px;width: 768px;">

                      </textarea>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row rmt20">
        <div class="col-xs-12">
            <div class="dashboardItem">
                <div class="dashboardItemTitle">
                    <span>设备组管理</span>
                </div>
                <div class="dashboardItemContent chosenSelect">
                    <div class="col-xs-6 rmt15 text-center">
                    <textarea disabled class="text-info" style="height: 300px;width: 768px;">

                      </textarea>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row rmt20">
        <div class="col-xs-12">
            <div class="dashboardItem">
                <div class="dashboardItemTitle">
                    <span>设备监控方案</span>
                </div>
                <div class="dashboardItemContent chosenSelect">
                    <div class="col-xs-6 rmt15 text-center">
                    <textarea disabled class="text-info" style="height: 300px;width: 768px;">

                      </textarea>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row rmt20">
        <div class="col-xs-12">
            <div class="dashboardItem">
                <div class="dashboardItemTitle">
                    <span>故障分类管理</span>
                </div>
                <div class="dashboardItemContent chosenSelect">
                    <div class="col-xs-6 rmt15 text-center">
                    <textarea disabled class="text-info" style="height: 300px;width: 768px;">

                      </textarea>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row rmt20">
        <div class="col-xs-12">
            <div class="dashboardItem">
                <div class="dashboardItemTitle">
                    <span>故障阀值配置</span>
                </div>
                <div class="dashboardItemContent chosenSelect">
                    <div class="col-xs-6 rmt15 text-center">
                    <textarea disabled class="text-info" style="height: 300px;width: 768px;">

                      </textarea>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row rmt20">
        <div class="col-xs-12">
            <div class="dashboardItem">
                <div class="dashboardItemTitle">
                    <span>故障告警格式</span>
                </div>
                <div class="dashboardItemContent chosenSelect">
                    <div class="col-xs-6 rmt15 text-center">
                    <textarea disabled class="text-info" style="height: 300px;width: 768px;">

                      </textarea>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row rmt20">
        <div class="col-xs-12">
            <div class="dashboardItem">
                <div class="dashboardItemTitle">
                    <span>故障告警方式设置</span>
                </div>
                <div class="dashboardItemContent chosenSelect">
                    <div class="col-xs-6 rmt15 text-center">
                    <textarea disabled class="text-info" style="height: 300px;width: 768px;">

                      </textarea>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row rmt20">
        <div class="col-xs-12">
            <div class="dashboardItem">
                <div class="dashboardItemTitle">
                    <span>系统维护管理</span>
                </div>
                <div class="dashboardItemContent chosenSelect">
                    <div class="col-xs-6 rmt15 text-center">
                    <textarea disabled class="text-info" style="height: 300px;width: 768px;">

                      </textarea>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
