{% extends "layout/base.html" %}
{% block content %}
          {% load humanize %}
          <div class="row">
            <!-- Basic info -->
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">基本信息</h3>
                  <a href="{% url 'cluster_update' cluster.project_id cluster.pk %}" class="btn btn-sm btn-default pull-right">更新</a>
                </div>
                <div class="box-body box-padding">
                  <table class="table table-striped">
                    <tr class="hide">
                      <th>key</th>
                      <th>value</th>
                    </tr>
                    <tr>
                      <td>集群名称: </td>
                      <td>{{ cluster.name }}({{ cluster.abbr_name }})</td>
                    </tr>
                    <tr>
                      <td>所属项目: </td>
                      <td>{{ cluster.project }}</td>
                    </tr>
                    <tr>
                      <td>状态: </td>
                      <td>
                        {% if cluster.monopoly %}
                        <span class="badge bg-green">独享设备</span>
                        {% elif not cluster.monopoly %}
                        <span class="badge bg-yellow">共享设备</span>
                        {% endif %}
                        {% if cluster.support_vm %}
                        <span class="badge bg-green">支持虚拟机</span>
                        {% elif not cluster.support_vm %}
                        <span class="badge bg-yellow">不支持虚拟机</span>
                        {% endif %}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <!-- 服务器 -->
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">服务器</h3>
                  <a href="{% url 'cluster_server_create' cluster.project_id cluster.id %}" class="btn btn-sm btn-default pull-right">新增服务器</a>
                </div>
                <div class="box-body box-padding">
                  <table class="table table-bordered" id="cluster_servers_table">
                    <tr>
                      <th>ID</th>
                      <th>主机名</th>
                      <th>所属IDC</th>
                      <th>IP地址</th>
                      <th>管理</th>
                    </tr>
                    {% for each in cluster.clusterserver_set.all %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>
                        {{ each.device.hostname }}
                      </td>
                      <td>{{ each.device.idc.name }}</td>
                      <td>
                        {% for ip in each.device.ips %}
                        {{ ip.ip }}({{ ip.interface }}, {{ ip.netline }}) <br />
                        {% endfor %}
                      </td>
                      <td>
                        <a href="{% url 'cluster_server_delete' cluster.project_id cluster.id each.id %}"><span class="badge bg-red">下线</span></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
            {% if cluster.support_vm %}
            <!-- 虚拟机 -->
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">虚拟机</h3>
                  <a href="{% url 'cluster_vm_create' cluster.project_id cluster.id %}" class="btn btn-sm btn-default pull-right">新增虚拟机</a>
                </div>
                <div class="box-body box-padding">
                  <table class="table table-bordered" id="cluster_vm_table">
                    <tr>
                      <th>ID</th>
                      <th>主机名</th>
                      <th>所属IDC</th>
                      <th>IP地址</th>
                      <th>管理</th>
                    </tr>
                    {% for each in cluster.clustervm_set.all %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>
                        {{ each.device.hostname }}
                      </td>
                      <td>{{ each.device.idc.name }}</td>
                      <td>
                        {% for ip in each.device.ips %}
                        {{ ip.ip }}({{ ip.interface }}, {{ ip.netline }}) <br />
                        {% endfor %}
                      </td>
                      <td>
                        <a href="{% url 'cluster_vm_delete' cluster.project_id cluster.id each.id %}"><span class="badge bg-red">下线</span></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
{% endblock %}