{% extends 'registration/base.html' %}
{% block content %}
    <form  action="/modify_pwd/" method="post">
        <ul>
            <h4>{{ email }}</h4>
            <div>
                <span class="">新 密 码 ：</span>
                <input type="password" name="password1" id="pwd" >
            </div>
                <input type="hidden" name="email" value="{{ email }}">
            <div>
                <span class="">确定密码：</span>
                <input type="password" name="password2" id="repwd" >
                {% if msg %}
                    {{ msg }}
                {% endif %}
            </div>
            <div class="form-group captcha1 marb38">
                <label>验&nbsp;证&nbsp;码(请从邮箱获取):</label>
                <input type="text" name="captcha" id="captcha" >
            </div>

            <div>
                <input type="submit" value="提交">
            </div>
        </ul>
    {% csrf_token %}
    </form>
{% endblock %}
